body,html{
    scroll-behavior: smooth
}
#food-wrap .container{
    position: relative;
    width: 100%;height: 100vh;min-height: 900px;
    perspective: 2000px;
    overflow:hidden;
}
#food-wrap .container .bg1,#food-wrap .container .bg2,#food-wrap .container .bg3{
    width: 100%;height: 100%;
    position: absolute;top: 0;left: 0;
    transform: translateZ(300px);
}
#food-wrap .container .bg1{background: url(../img/bg-pt4.png);background-size: 20%;background-attachment:fixed;}
#food-wrap .container .bg2{background: url(../img/bg-pt1.png);background-size: 20%;background-attachment:fixed;}
#food-wrap .container .bg3{background: url(../img/bg-pt4.png);background-size: 20%;background-attachment:fixed;}

#food-wrap .container h1{
    position: relative;top: 40px;left:50%;
    width: 500px;height: 100px;
    font-family: 'Pacifico', cursive;font-size: 40px;
    background-color: #000; color: #fff;
    text-align: center;line-height: 90px;
    border: 4px solid #fff;
    box-shadow: 0 0 10px black;
    transform: translate(-50%);
}
#food-wrap .container:nth-child(3) h1{
    width: 600px;
}
#food-wrap .container .menu-list{
    position: relative;top: -100px; left: 000%;
    width: 700%;height: 100%; min-height: 900px;
    display: flex;
}
#food-wrap .container:nth-child(1) .menu-list{width: 700%;}
#food-wrap .container:nth-child(2) .menu-list{width: 300%;}
#food-wrap .container:nth-child(3) .menu-list{width: 400%;}

#food-wrap .container .menu-list .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#food-wrap .container .menu-list .box img{
    padding: 30px 0;
    animation: burgermove 3s infinite ease-in-out;
    cursor: url(../scroll.cur), auto;
}
@keyframes burgermove{
    0%{transform: scale(0.8) rotate(10deg)}
    50%{transform: scale(1.1) rotate(-10deg)}
    100%{transform: scale(0.8) rotate(10deg)}
}
#food-wrap .container .menu-list .box p{
    font-family: 'Pacifico', cursive;font-size: 70px;font-weight: bold;
    text-shadow: 0px 0px 7px white,
        0px 0px 7px white,
        0px 0px 7px white,
        0px 0px 7px white;
}
#food-wrap .container:nth-child(1),
#food-wrap .container:nth-child(3){background-color: var(--main-color)}
#food-wrap .sideMenu{
    width: 250px;height: 240px;
    position: fixed;
    top: 40%;right: 20px;
    z-index: 1;
}
#food-wrap .sideMenu div{
    position: relative;
    width: 100%;height: 50px;
    margin: 20px 0;
    text-align: center;line-height: 52px;
    text-shadow: 0 0 1px #fff,0 0 1px #fff,0 0 1px #fff;
    cursor: pointer;
    font-family: 'Encode Sans SC', sans-serif;font-weight: bold;font-size: 20px;
    color: rgba(0,0,0,0.8);
    border-radius: 80px;
}
#food-wrap .sideMenu div:after{
    content: '';
    position: absolute;bottom: 0;left: 10%;
    width: 80%;height: 3px;
    background-color: #333;
    transform: translate(-50%);
    transform-origin: center;
    transition: all 0.5s;
    transform: scaleX(0);
}
#food-wrap .sideMenu div:hover:after{
    transform: scaleX(1);
}
#food-wrap .sideMenu div.selected{color: #fff;}
#food-wrap .sideMenu div.selected:before{
    content: '';
    position: absolute;top: 0;left: 0;
    width: 100%;height: 98%;
    border: 2px solid #fff;
    border-radius: 100px;
    background-color: rgba(0,0,0,0.2);
    transform-origin: center;
    transition: all 0.5s;
    transform: scaleX(1);
    opacity: 1;
    animation: select 0.5s linear forwards;z-index: -1
}
@keyframes select{
    from{transform: scaleX(0);
    opacity: 0;}
    tp{transform: scaleX(1);
    opacity: 1;}
}
#food-wrap .sideMenu div.selected:after{
    display: none;
}

/*미디어쿼리 ~767 ~모바일*/
@media screen and (max-width:767px){
    #food-wrap .container{
        min-height: 700px;
    }
    #food-wrap .container h1{
        width: 85%;height: 22vw;
        font-size: 6.5vw;
        line-height: 20vw;
    }
    #food-wrap .container .menu-list{
        top: -50px;
        min-height: 650px;
    }
    #food-wrap .container:nth-child(3) h1{
        width: 90%
    }
    #food-wrap .container .menu-list .box img{
        width: 50vw;
        padding: 0;
    }
    #food-wrap .container .menu-list .box p{
        font-size: 10vw;
    }
}
/*미디어쿼리 ~424 ~모바일*/
@media screen and (max-width:424px){
    #food-wrap .container{
        min-height: 400px;
    }
    #food-wrap .container h1{
        width: 85%;height: 22vw;
        font-size: 6.5vw;
        line-height: 20vw;
    }
    #food-wrap .container .menu-list{
        top: -45px;
        min-height: 450px;
    }
    #food-wrap .container:nth-child(3) h1{
        width: 90%
    }
    #food-wrap .container .menu-list .box img{
        width: 50vw;
        padding: 0;
    }
    #food-wrap .container .menu-list .box p{
        font-size: 8vw;
    }
}