footer{
    position: relative;
    background-color: #111;
    width: 100%;
    min-height: calc(100vh - 530px);
    height: 450px;
}
footer .footer-box{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
footer .footer-box .footer-ul-box{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
footer .footer-box .footer-ul-box .footer-menu{
    width:150px;text-align: center;
    color: #fff;font-size: 20px;
}
footer .footer-box .footer-ul-box .footer-menu li{
    padding-top: 5px;
    font-size: 16px;
}
footer .footer-box .footer-ul-box .footer-menu li:first-child{
    padding-top: 20px;
}
footer .footer-box .footer-ul-box .footer-menu li a{
    color: #fff;
    text-decoration: underline
}
footer .footer-box .footer-logo{
    width: 173px;height: 55px;
    margin: 0 auto;
    background: url(../img/shakeshack_logo_footer.png) no-repeat;
    background-size: contain
}
footer .footer-box .footer-rights{
    width: 500px;
    margin: 0 auto;
    text-align: center;color: #bbb;
    font-size: 12px;
}
footer .footer-box .footer-rights li:first-child{padding-bottom: 10px;}

/*미디어쿼리 ~768 ~모바일*/
@media screen and (max-width:768px){
    footer{height: 420px;}
    footer .footer-box .footer-ul-box .footer-menu{
        font-size: 3vw;
    }
    footer .footer-box .footer-ul-box .footer-menu li{
        font-size: 2vw;
    }
    footer .footer-box .footer-logo{
        width: 153px;
    }
    footer .footer-box .footer-rights{
        width: 220px;
        font-size: 10px;
    }
    footer .footer-box .footer-rights li:first-child{padding-bottom: 10px;}
}