#location-wrap{
    position: relative;
    background-size: 20%;
}
#location-wrap .name-box{
    position: relative;
    width: 100%;height: 400px;
    background: url(../img/fooddrink_hdr.jpg) no-repeat center center;
    background-size: cover;
    background-color: var(--main-color);border: 10px solid var(--main-color);
}
#location-wrap .name-box h1{
    position: absolute;
    bottom: -55px;left: 50%;transform: translate(-50%);
    width: 500px;
    background-color: #fff;
    font-size: 50px;font-weight: bold;text-align: center;font-family: 'Pacifico', cursive;
    user-select: none;
    border: 10px solid var(--main-color);
}
#location-wrap .shop-wrap{
    position: relative;
    max-width: 1280px;
    margin: 100px auto;
    padding: 0 20px;
}
#location-wrap .shop-wrap .shop-list{
    position: relative;
    width: 80%;
    margin: 0 auto;
}
#location-wrap .shop-wrap .shop-list li{
    position: relative;
    overflow: hidden;
}
#location-wrap .shop-wrap .shop-list li>div:nth-child(1){
    width: 100%;height: 70px;
    border-bottom: 2px solid var(--main-color);
}
#location-wrap .shop-wrap .shop-list li div .shop-name{
    float: left;
    font-size: 30px;font-weight: bold;line-height: 70px;font-family: 'Encode Sans SC';
}
#location-wrap .shop-wrap .shop-list li div .down-arrow{
    position: relative;top: 15px;
    float: right;
    width: 42px;height: 42px;
    background: url(../img/arrow_sprite.png) no-repeat 0 -85px;
    transform: rotateZ(180deg);
    cursor: pointer;
    transition: all 0.7s;
}
#location-wrap .shop-wrap .shop-list li .shop-detail{
    clear: both;
    height: 0;
    transition: all 0.2s;
}
#location-wrap .shop-wrap .shop-list li.show .shop-detail{height: 100%;padding: 20px 0}
#location-wrap .shop-wrap .shop-list li .shop-detail .map iframe{
    width: 100%;height: 400px;
}
#location-wrap .shop-wrap .shop-list li .shop-detail ul{
    display: flex;
    justify-content: space-around;
}
#location-wrap .shop-wrap .shop-list li .shop-detail ul li{
    width: 300px;
    margin: 0 5px;
    text-align: center;
}
#location-wrap .shop-wrap .shop-list li .shop-detail ul li span{
    font-weight: bold;font-family: 'Encode Sans SC';font-size: 24px;
    display: block;
    margin: 20px 0;
}
#location-wrap .shop-wrap .shop-list li .shop-detail ul li p{
    margin-top: 10px;
    font-size: 16px;
}
#location-wrap .shop-wrap .shop-list li .shop-detail ul li p:nth-of-type(2n){background-color: #ddd}

/*미디어쿼리 768~1023 ~태블릿*/
@media screen and (min-width:768px) and (max-width:1023px){
    #location-wrap .name-box{
        height: 350px;
    }
    #location-wrap .shop-wrap .shop-list li .shop-detail ul li{
        width: 180px;
    }
    #location-wrap .shop-wrap .shop-list li .shop-detail ul li span{
        font-size: 20px;
    }
    #location-wrap .shop-wrap .shop-list li .shop-detail ul li p{
        font-size: 14px;
    }
}
/*미디어쿼리 ~767 ~모바일*/
@media screen and (max-width:767px){
    #location-wrap .name-box{
        height: 300px;
    }
    #location-wrap .name-box h1{
        bottom: -10vw;
        max-width: 50vw;
        width: 80vw;
        font-size: 8vw;
        border: 1.5vw solid var(--main-color);
    }
    #location-wrap .shop-wrap{
        margin: 15vw auto;
    }
    #location-wrap .shop-wrap .shop-list li>div:nth-child(1){
        height: 12vw;
    }
    #location-wrap .shop-wrap .shop-list li div .shop-name{
        font-size: 5vw;line-height: 12vw;
    }
    #location-wrap .shop-wrap .shop-list li div .down-arrow{
        top: 3vw;
        width: 6vw;height: 6vw;
        background: url(../img/arrow_sprite.png) no-repeat 0 -12vw;
        background-size: 300%
    }
    #location-wrap .shop-wrap .shop-list li .shop-detail .map iframe{
        height: 50vw;
    }
    #location-wrap .shop-wrap .shop-list li .shop-detail ul{
        flex-direction: column;
        
    }
    #location-wrap .shop-wrap .shop-list li .shop-detail ul li{
        width: 100%;
    }
    #location-wrap .shop-wrap .shop-list li .shop-detail ul li span{
        font-size: 4vw;
        margin: 3vw 0;
    }
    #location-wrap .shop-wrap .shop-list li .shop-detail ul li p{
        margin-top: 1vw;
        font-size: 2vw;
    }
}