/*

header{
    position: relative;
    width: 100%;height: 80px;
    background-color: #fff;
    border-bottom: 1px solid var(--main-color);
}
header nav{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
header nav .header-logo{
    position: relative;
    z-index: 1;
    width: 250px;height: 80px;
    margin: 0 auto;
    background: url(../img/shakeshack_logo.png) no-repeat center;
}
header nav .header-logo a{
    display: block;
    width: 100%;height: 80px;
}
header nav .menu{
    display: flex;
    position: absolute;
    top:0;left: 0;
    width:100%;height: 80px;
    justify-content: space-around;
    align-items: center;
}
header nav .menu li:nth-child(2){margin-right: 10%;}
header nav .menu li:nth-child(3){margin-left: 10%;}
header nav .menu li a{
    font-weight: bold;font-family: 'Encode Sans SC', sans-serif;
}
header .mobile-bar{
    display:none;
    position: absolute;
    top: 20px;right: 20px;
    cursor: pointer;
    z-index: 3;
}
header .mobile-bar div{
    width: 32px;height: 4px;
    background-color: var(--main-color);
    margin: 7px 0;
    transform-origin: left;
    transition: all 0.5s;
}
header .mobile-bar div:nth-child(1){transform: rotate(0deg) translate(0px,0px);}
header .mobile-bar div:nth-child(2){transform-origin: center;transform: rotateY(0deg);}
header .mobile-bar div:nth-child(3){transform: rotate(0deg) translate(0px,0px);}
header .mobile-nav{
    position: fixed;top: 0;left: 0;
    z-index: 2;
    width: 100%;height: 100%;
    background-color: var(--main-color);
    border-radius: 100%;
    transform: scale(0);
    transition: all 1s;
}
header .mobile-nav .mobile-nav-bg{
    position: absolute;
    background-color: var(--main-color);
    transition: all 1.5s ;
    transform: scale(0);
}
header .mobile-nav .mobile-nav-bg1{
    top: 280px;left: 20px;
    width: 130px;height: 120px;
    border-radius: 80% 70px 60% 60px;
}
header .mobile-nav .mobile-nav-bg2{
    top: 80px;left: 520px;
    width: 60px;height: 80px;
    border-radius: 80% 50px 50% 80px;
}
header .mobile-nav ul{
    position: relative;
    display: flex;height: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
header .mobile-nav ul li{
    width: 100%;height: 50px;
    margin: 25px 0;
    font-size: 6vw;font-weight: bold;
}
header .mobile-nav ul li a{
    font-family: 'Encode Sans SC', sans-serif;
    color: #fff;
}
*/

.view-more{
    position: absolute;
    width: 200px;height: 50px;text-align: center;line-height: 50px;
    background-color: var(--main-color);
    border-radius: 30px 35% 30px 20%;
    transition: all 0.5s;
}
.view-more a{display: block;}
.view-more a span{
    color: #fff;font-family: 'Encode Sans SC', sans-serif;font-size: 20px;
}
.view-more:hover{
    width: 210px;height: 70px;line-height: 70px;
    border-radius: 50px 50% 60px 50%;
}

/*main-1*/
#main-visual{
    position: relative;
    width: 100%;height: 700px;
    overflow: hidden
}
#main-visual .visual-line{
    position: absolute;
    width: 100%;height: 70px;
    background-color: var(--main-color);
    overflow: hidden;
}
#main-visual .visual-line:nth-child(1){top: 0;}
#main-visual .visual-line:nth-child(2){bottom: 0;}
#main-visual .visual-line .visual-line-img{
    position: absolute;
    top: 0;left: 0;
    width: 100%;height: 100%;
    background: url(../img/photo_gallery_tile.png);
    background-position: 0px;
    animation: main-line 5s infinite linear;
}
@keyframes main-line{
    from{background-position: 0%;}
    to{background-position: 286px;}
}
#main-visual .visual-burger{
    position: absolute;top:14px;left: 50%;
    transform: translateX(-50%) scale(0);
    width: 750px;height: 650px;
    background: url(../img/bg2.png) no-repeat;
    background-size: cover;
    animation: main-burger 2.5s forwards cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
@keyframes main-burger{
    0%{transform: translateX(-50%) scale(0);}
    40%{transform: translateX(-50%) scale(1.1);}
    65%{transform: translateX(-50%) scale(0.9);}
    100%{transform: translateX(-50%) scale(1);}
}
#main-visual .visual-txt{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
#main-visual .visual-txt h1{
    position:absolute;
    font-size: 60px;
    font-family: 'Pacifico', cursive;
    background-color: #000;color: #fff;
    width: 400px;height: 120px;
    text-align: center;line-height: 120px;
    box-shadow: 0 0 5px black;
}
#main-visual .visual-txt h1:nth-child(1){
    top: 120px;left: 50px;
    transform: rotateZ(4deg) scale(0);
}
#main-visual .visual-txt h1:nth-child(2){
    top: 250px;left: 120px;
    transform: rotateZ(-4deg) scale(0);
}
#main-visual .visual-txt h1.shake{
    animation: main-shake 1s forwards cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-delay:0.5s;
}
#main-visual .visual-txt h1.shack{
    animation: main-shack 1s forwards cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-delay:0.8s;
}
/*h1등장 애니메이션. 첫 등장 후 애니메이션 제거됨.*/
@keyframes main-shake{
    from{transform: rotateZ(-20deg) scale(0);}
    to{transform: rotateZ(4deg);}
}
@keyframes main-shack{
    from{transform: rotateZ(-20deg) scale(0);}
    to{transform: rotateZ(-4deg);}
}
#main-visual .visual-txt h1:nth-child(1):hover{
    animation: main-shake-hover .2s infinite linear;
}
#main-visual .visual-txt h1:nth-child(2):hover{
    animation: main-shake-hover .2s infinite linear;
}
@keyframes main-shake-hover{
    0%{transform: rotateZ(4deg);}
    50%{transform: rotateZ(-4deg);}
    100%{transform: rotateZ(4deg);}
}
@keyframes main-shack-hover{
    0%{transform: rotateZ(-4deg);}
    50%{transform: rotateZ(4deg);}
    100%{transform: rotateZ(-4deg);}
}
#main-visual .visual-txt p{
    opacity: 0;
    position:absolute;top: 450px;
    font-size: 30px;font-family: 'Encode Sans SC';
    background-color: var(--main-color);color: #fff;
    width: 600px;
    padding: 10px;
    box-shadow: 0 0 5px black;
    animation: main-txt .5s forwards cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-delay: 2s;
}
@keyframes main-txt{
    from{right:0;opacity: 0;}
    to{right:50px;opacity: 1;}
}
/*main-2*/
#main-story{
    position: relative;
    background-color: #000;
    width: 100%;height: 800px;
}
#main-story .story-bg{
    position: absolute;
    width: 100%;height: 100%;
    background-color: #000;
}
#main-story .story-bg li{
    position: absolute;
    width: 100%;height: 100%;
    filter: brightness(0.6);
}
#main-story .story-bg li:nth-child(1){
    background: url(../img/main-story1.jpg) no-repeat center;
    background-size: cover;
}
#main-story .story-bg li:nth-child(2){
    background: url(../img/main-story2.jpg) no-repeat center;
    background-size: cover;
}
#main-story .story-bg li:nth-child(3){
    background: url(../img/main-story3.jpg) no-repeat center;
    background-size: cover;
}
#main-story .story-txt{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
#main-story .story-txt .our-story{
    position: absolute;top: 0;right: 20px;
    width: 500px;height: 150px;
    font-family: 'Pacifico', cursive;font-size: 80px;
    background-color: #000; color: #fff;
    text-align: center;line-height: 120px;
    border: 4px solid #fff;
    box-shadow: 0 0 20px black;
    transform: rotateZ(-15deg);
}
#main-story .story-txt>p{
    position: absolute;
    width: 500px;
    padding: 15px;
    background-color: rgba(0,0,0,0.7);
    color: white;font-size: 18px;
    box-shadow: 0 0 10px black;
}
#main-story .story-txt span{
    font-weight: bold;font-size: 26px;
    background-color: var(--main-color);
    color: #000;
    display: inline-block;
    transform: scale(1);
    animation: main-shake-hover .5s linear infinite;
}
#main-story .story-txt span:hover{
    transform: scale(1.05);
    animation:none;
}
#main-story .story-txt p:nth-child(3){
    top: 150px;left: 50px;
}
#main-story .story-txt p:nth-child(4){
    top: 450px;right:50px;
}
#main-story .story-txt .story-gift{
    width: 150px;height: 150px;
    position: absolute;
    top:200px;right: 100px;
    transform: rotateZ(-15deg);
    cursor: pointer;
}
#main-story .story-txt .story-gift img{
    width: 100%;
}
#main-story .story-txt .story-gift p{
    position: absolute;bottom: -40px;left: -15px;
    background-color: rgba(255,255,255,0.8);
    color: #000;
    text-align: center;font-family: 'Encode Sans SC';font-weight: bold;font-size: 20px;
    width: 180px;
    padding: 10px;
    border-radius: 50px 50% 40px 40%
}
#main-story .story-txt .story-arrow{
    position: absolute;
    top: 100px;left: 400px;
    display: none;
}
#main-story .story-txt .story-arrow img{width: 100%;}
#main-story .story-txt .story-cartImg{
    position: absolute;
    top: 400px;left: 100px;
    width: 400px;padding: 20px;
    background-color: rgba(0,0,0,0.7);
    box-shadow: 0 0 10px black;
    transform: rotateZ(8deg);
    display: none;
}
#main-story .story-txt .story-cartImg img{
    width: 100%;
}
/*main-3*/
#main-news{
    position: relative;
    background-color: #111;
    width: 100%;height: 700px;
}
#main-news .news-box{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
#main-news .news-box h1{
    position: relative;
    left: -100%;
    color: #fff;
    font-family: 'Pacifico', cursive;font-size: 60px;
    padding: 20px;
    line-height: 1.5;
    transition: all 0.8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}
#main-news .news-box .news-slide{
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
}
#main-news .news-box .news-slide .news-list{
    height: 330px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#main-news .news-box .news-slide .news-list li{
    width: 15%;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
    box-shadow: 0 0 12px rgba(255,255,255,0.1);
    cursor: pointer;
    filter: brightness(0.5);
    transition: all 1.5s cubic-bezier(0, 1.49, 0.59, 0.82);
}
#main-news .news-box .news-slide .news-list li:nth-child(1){
    margin-top: 60%;
}
#main-news .news-box .news-slide .news-list li:nth-child(2){
    margin-top: 80%;
}
#main-news .news-box .news-slide .news-list li:nth-child(3){
    margin-top: 100%;
}
#main-news .news-box .news-slide .news-list li:nth-child(4){
    margin-top: 120%;
}
#main-news .news-box .news-slide .news-list li:nth-child(5){
    margin-top: 140%;
}
#main-news .news-box .news-slide .news-list li.currentIdx{
    width: 22%;
    filter: brightness(1);
    animation: main-news 0.5s forwards;
}
@keyframes main-news{
    from{width: 10%;}
    to{width: 22%;}
}
#main-news .news-box .news-slide .news-list li img{width: 100%;}
#main-news .news-box .news-slide .news-list li p{
    color: #fff;
    padding-top: 10px;
    font-size: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#main-news .news-box .news-slide .news-list li.currentIdx p{
    font-size: 15px;
}
#main-news .news-box .news-arrow{
    position: absolute;
    top: 350px;left: 0;
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#main-news .news-box .news-arrow li{
    width: 42px;height: 42px;
    cursor: pointer;
}
#main-news .news-box .news-arrow li:nth-child(1){
    background: url(../img/arrow_sprite.png) 0 0;
}
#main-news .news-box .news-arrow li:nth-child(2){
    background: url(../img/arrow_sprite.png) 0 84px;
}
#main-news .news-box>p{
    color: #fff;font-size: 40px;font-family: 'Encode Sans SC', sans-serif;
    padding: 0 20px;
    text-align: center;
}
#main-news .news-box .view-more{
    bottom: -12%;left: 50%;
    transform: translate(-50%);
}
#main-news .news-box .view-more:hover{
    bottom: -14%;
}

/*main-4*/
#main-contact{
    position: relative;
    width: 100%;;
    overflow: hidden;
}
#main-contact .contact-box{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
#main-contact .contact-box h1{
    position: relative;
    z-index: 1;
    color: #222;
    font-family: 'Pacifico', cursive;font-size: 60px;
    padding: 20px;
    line-height: 1.5;
}
#main-contact .contact-box>p{
    position: relative;
    z-index: 1;
    padding: 0 20px;
    font-family: 'Encode Sans SC', sans-serif;font-size: 20px;font-weight: bold;
    text-shadow: 0 0 1px white,
        0 0 1px white,
        0 0 1px white;
}
#main-contact .contact-box strong{
    color: var(--main-color);
}
#main-contact .contact-box>div{
    position: absolute;
}
#main-contact .contact-box>div.contact-white-cir{
    top: 150px;right:100px;
    width: 30vw;height: 30vw;
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 5px 5px 10px #ddd;
}
#main-contact .contact-box>div.contact-dashed-cir{
    top: 350px;right:250px;
    width: 25vw;height: 25vw;
    border: 10px dashed var(--main-color);
    border-radius: 100%;
    box-shadow: 5px 5px 10px #ddd,
        inset 5px 5px 19px #ddd;
    animation: main-cir 30s infinite linear;
}
@keyframes main-cir{
    from{transform: rotateZ(0deg)}
    to{transform: rotateZ(360deg)}
}
#main-contact .contact-box>div.contact-shop-img{
    top: 180px; right: 50px;
    width: 20vw;height: 20vw;
    background: url(../img/home_sfsg_illustration.png) no-repeat;
    background-size:contain;
    transform: rotateZ(-15deg);
}
#main-contact .contact-box form{
    position: relative;
    z-index: 1;
    padding: 50px;
}
#main-contact .contact-box form p{
    padding: 10px 0;
}
#main-contact .contact-box form p:nth-child(1){
    font-size: 30px
}
#main-contact .contact-box form label{
    display: block;
    padding-top: 30px
}
#main-contact .contact-box form input,
#main-contact .contact-box form select{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid var(--main-color);
    width: 50%;height: 50px;
    font-size: 18px;
}
#main-contact .contact-box form textarea{
    border: 2px solid var(--main-color);
    width: 50%;height: 150px;
    padding: 5px;
}
#main-contact .contact-box form input[type="checkbox"]{
    width: 20px;height: 20px;
    display: block;
    margin-top: 30px;
}
#main-contact .contact-box form label[for="contact-info"],
#main-contact .contact-box form label[for="contact-agree"]{
    float: left;
    padding:0;line-height: 1.6;
    font-family: 
}
#main-contact .contact-box form label[for="contact-info"] strong,
#main-contact .contact-box form label[for="contact-agree"] strong{
    text-decoration: underline
}
#main-contact .contact-box form label{
    clear: both;
}
#main-contact .contact-box form input[type="submit"]{
    position: relative;
    border: 2px solid var(--main-color);
    width: 150px;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 40px;
    transition: all 0.3s;
}
#main-contact .contact-box form input[type="submit"]:hover{
    background-color: var(--main-color);color: #fff;
}
/*

footer{
    position: relative;
    background-color: #111;
    width: 100%;height: 450px;
}
footer .footer-box{
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}
footer .footer-box .footer-ul-box{
    display: flex;
    justify-content: space-around;
    padding-top: 40px;
}
footer .footer-box .footer-ul-box .footer-menu{
    width:150px;text-align: center;
    color: #fff;font-size: 20px;
}
footer .footer-box .footer-ul-box .footer-menu li{
    padding-top: 5px;
    font-size: 16px;
}
footer .footer-box .footer-ul-box .footer-menu li:first-child{
    padding-top: 20px;
}
footer .footer-box .footer-ul-box .footer-menu li a{
    color: #fff;
    text-decoration: underline
}
footer .footer-box .footer-logo{
    width: 173px;height: 55px;
    margin: 0 auto;
    background: url(../img/shakeshack_logo_footer.png) no-repeat;
    background-size: contain
}
footer .footer-box .footer-rights{
    width: 500px;
    margin: 0 auto;
    text-align: center;color: #bbb;
    font-size: 12px;
}
footer .footer-box .footer-rights li:first-child{padding-bottom: 10px;}
*/


/*미디어쿼리 768~1023 ~태블릿*/
@media screen and (min-width:768px) and (max-width:1023px){
    
    .view-more{
        width: 180px;height: 45px;line-height: 45px;
    }
    .view-more a span{
        font-size: 18px;
    }
    .view-more:hover{
        width: 200px;height: 55px;line-height: 55px;
    }

    /*
    header nav .menu li:nth-child(2){margin-right: 15%;}
    header nav .menu li:nth-child(3){margin-left: 15%;}
    */
    #main-visual .visual-burger{
        top:60px;
        width: 650px;height: 550px;
    }
    #main-visual .visual-txt h1{
        font-size: 50px;
        width: 350px;height: 100px;
        line-height: 100px;
    }
    #main-visual .visual-txt h1:nth-child(1){
        top: 130px;left: 50px;
        transform: rotateZ(4deg) scale(0);
    }
    #main-visual .visual-txt h1:nth-child(2){
        top: 240px;left: 120px;
        transform: rotateZ(-4deg) scale(0);
    }
    #main-visual .visual-txt p{
        top: 450px;
        font-size: 25px;
        width: 500px;
    }
    #main-story .story-txt .our-story{
        top:-30px;
        width: 400px;height: 130px;
        font-size: 70px;line-height: 100px;
    }
    #main-story .story-txt>p{
        width: 400px;
        font-size: 16px;
    }
    #main-story .story-txt span{
        font-size: 24px;
    }
    #main-story .story-txt .story-arrow{
        top: 120px;left: 300px;
        width: 300px;
    }
    #main-story .story-txt .story-cartImg{
        top:380px;left: 50px;
        width: 350px;
    }
    #main-news .news-box h1{
        font-size: 50px;
    }
    #main-news .news-box .news-slide .news-list{
        width: 155%;height: 400px;
        margin-left: -27.3%;
    }
    #main-news .news-box .news-arrow li{
        width: 50px;height: 50px;
    }
    #main-news .news-box .news-arrow li:nth-child(1),
    #main-news .news-box .news-arrow li:nth-child(2){
        background-size: 300% 300%;
    }
    #main-news .news-box .news-arrow li:nth-child(2){
        background-position: 0 100px
    }
    #main-news .news-box>p{
        font-size: 35px;
        margin-top: -10px
    }
    #main-news .news-box .view-more{
        bottom: -9%;
    }
    #main-news .news-box .view-more:hover{
        bottom: -10%;
    }

    #main-contact .contact-box>div.contact-white-cir{
        top: 200px;
        width: 50vw;height: 50vw;
    }
    #main-contact .contact-box>div.contact-dashed-cir{
        top: 350px;right:200px;
        width: 45vw;height: 45vw;
    }
    #main-contact .contact-box>div.contact-shop-img{
        top: 230px;
        width: 40vw;height: 40vw;
    }
    #main-contact .contact-box form textarea{
        width: 100%;
    }
    
    

}
/*미디어쿼리 ~767 ~모바일*/
@media screen and (max-width:767px){
    .view-more{
        width: 26vw;height: 7vw;line-height: 7vw;
    }
    .view-more a span{
        font-size: 2vw;
    }
    .view-more:hover{
        width: 28vw;height: 8vw;line-height: 8vw;
    }
    
    /*
    header nav .menu{
        display: none
    }
    header nav .header-logo{
        margin-left: 10px;
        width: 200px;
        background-size: contain;
    }
    header .mobile-bar{display:block;}
    */
    #main-visual{
        height: 500px;
    }
    #main-visual .visual-line{
        height: 50px;
    }
    #main-visual .visual-line .visual-line-img{
        background-size: contain;
        animation: main-line 10s infinite linear;
    }
    #main-visual .visual-burger{
        top:90px;
        transform: translateX(-50%) scale(0);
        width: 320px;height: 290px;
    }
    #main-visual .visual-txt h1{
        font-size: 30px;
        width: 170px;height: 70px;line-height: 70px;
    }
    #main-visual .visual-txt h1:nth-child(1){
        top: 70px;left: 20px;
    }
    #main-visual .visual-txt h1:nth-child(2){
        top: 130px;left: 50px;
    }
    #main-visual .visual-txt p{
        top: 320px;
        font-size: 16px;
        width: 280px;
    }
    @keyframes main-txt{
        from{right:0;opacity: 0;}
        to{right:20px;opacity: 1;}
    }
    
    #main-story{
        height: 600px;
    }
    #main-story .story-txt .our-story{
        width: 200px;height: 80px;
        font-size: 35px;line-height: 65px;
        z-index: 1;
        left: 50%;transform: translateX(-50%) rotateZ(-15deg);
        top: -20px;
    }
    #main-story .story-txt>p{
        width: 80%;font-size: 12px;
    }
    #main-story .story-txt span{
        font-size: 15px
    }
    #main-story .story-txt p:nth-child(3){
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
    }
    #main-story .story-txt p:nth-child(4){
        top: 380px;left: 50%;
        font-size: 10px;
        transform: translateX(-50%);
    }
    #main-story .story-txt .story-gift{
        transform: rotateZ(0deg);
        width: 50px;height: 50px;
        top:323px;left:10%;
    }
    #main-story .story-txt .story-gift p{
        top: 10px;left: 55px;
        padding: 7px;
        font-size: 12px;
        width: 180px;height: 30px;
    }
    #main-story .story-txt .story-arrow{
        width: 200px;
        top: 70px;left: 20vw;
        display: none;
    }
    #main-story .story-txt .story-cartImg{
        top: 200px;left: 20%;
        width: 200px;padding: 20px;
        background-color: rgba(0,0,0,0.7);
        box-shadow: 0 0 10px black;
        transform: rotateZ(8deg);
        display: none;
    }
    
    #main-news {
        height: 80vw;
    }
    #main-news .news-box h1{
        font-size: 6vw;
        padding: 20px;
        text-align: center;
    }
    #main-news .news-box .news-slide{
        margin-top: -30px
    }
    #main-news .news-box .news-slide .news-list{
        width: 155%;height: 40vw;
        margin-left: -27.3%;
    }
    #main-news .news-box .news-slide .news-list li{
        width: 13%;
    }
    #main-news .news-box .news-slide .news-list li.currentIdx{
        width: 18%;
        filter: brightness(1);
        animation: main-news 0.5s forwards;
    }
    @keyframes main-news{
        from{width: 10%;}
        to{width: 18%;}
    }
    #main-news .news-box .news-slide .news-list li p{
        display: none;
    }
    #main-news .news-box .news-arrow{
        top:38vw;
    }
    #main-news .news-box .news-arrow li{
        width: 5vw;height: 5vw;
    }
    #main-news .news-box .news-arrow li:nth-child(1){
        background: url(../img/arrow_sprite.png) 0 0;
        background-size: 15vw;
    }
    #main-news .news-box .news-arrow li:nth-child(2){
        background: url(../img/arrow_sprite.png) 0 10vw;
        background-size: 15vw
    }
    #main-news .news-box>p{
        font-size: 4vw;
        margin-top: -20px
    }
    #main-news .news-box .view-more{
        bottom: -15%;
    }
    #main-news .news-box .view-more:hover{
        bottom: -16%;
    }

    
    #main-contact .contact-box h1{
        font-size: 10vw;
        text-align: center;
    }
    #main-contact .contact-box>p{
        font-size: 3vw;
        text-align: center;
    }
    #main-contact .contact-box>div.contact-white-cir{
        top: 200px;right:20px;
        width: 60vw;height: 60vw;
    }
    #main-contact .contact-box>div.contact-dashed-cir{
        top: 280px;right:80px;
        width: 55vw;height: 55vw;
        border: 6px dashed var(--main-color);
    }
    #main-contact .contact-box>div.contact-shop-img{
        top: 180px;right: 20px;
        width: 50vw;height: 50vw;
    }
    #main-contact .contact-box form{
        padding: 30px;
    }
    #main-contact .contact-box form p{
        font-size: 12px;
    }
    #main-contact .contact-box form p:nth-child(1){
        font-size: 5vw
    }
    #main-contact .contact-box form label{
        padding-top: 20px;
        font-size: 14px;
    }
    #main-contact .contact-box form input,
    #main-contact .contact-box form select{
        width: 80%;height: 50px;
        font-size: 14px;
    }
    #main-contact .contact-box form textarea{
        width: 100%;height: 100px;
    }
    #main-contact .contact-box form input[type="checkbox"]{
        width: 15px;height: 15px;
        margin-top: 20px;
    }
    #main-contact .contact-box form label[for="contact-info"],
    #main-contact .contact-box form label[for="contact-agree"]{
        float: left;
        padding:0;line-height: 1.6;
        font-size: 2vw;
    }
    
    #main-contact .contact-box form input[type="submit"]{
        width: 120px;height: 40px;
        margin-top: 20px;
    }
/*
    footer{height: 420px;}
    footer .footer-box .footer-ul-box .footer-menu{
        font-size: 3vw;
    }
    footer .footer-box .footer-ul-box .footer-menu li{
        font-size: 2vw;
    }
    footer .footer-box .footer-logo{
        width: 153px;
    }
    footer .footer-box .footer-rights{
        width: 220px;
        font-size: 10px;
    }
    footer .footer-box .footer-rights li:first-child{padding-bottom: 10px;}
    */
    
}